<div data-page="login" class="page no-navbar page-on-center">
  <div class="page-content login-screen-content">
    <div class="login-screen-title">Iniciar Sesión</div>
    <form id="register-form" class="store-data">
      <div class="list-block inputs-list">
        <ul>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title label">Usuario</div>
              <div class="item-input item-input-field">
                <input type="text" name="nombre" placeholder="Ingrese su usuario">
              </div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title label">Contraseña</div>
              <div class="item-input item-input-field">
                <input type="password" name="contrasenia" placeholder="Ingrese su contraseña">
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="content-block"><a href="#" class="button">Entrar</a></div>
      <div class="content-block"><a href="#" class="button">Registrarse</a></div>
      <div class="content-block">
        <div class="list-block-label">Some text about login information.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      </div>
    </form>
  </div>
</div>
